In [15]:
import pandas as pd
import numpy as np

In [17]:
df = pd.read_csv("./Global_Education.csv", encoding="latin1")
df.sample(n=5)

,Countries and areas,Latitude,Longitude,OOSR_Pre0Primary_Age_Male,OOSR_Pre0Primary_Age_Female,OOSR_Primary_Age_Male,OOSR_Primary_Age_Female,OOSR_Lower_Secondary_Age_Male,OOSR_Lower_Secondary_Age_Female,OOSR_Upper_Secondary_Age_Male,...,Primary_End_Proficiency_Reading,Primary_End_Proficiency_Math,Lower_Secondary_End_Proficiency_Reading,Lower_Secondary_End_Proficiency_Math,Youth_15_24_Literacy_Rate_Male,Youth_15_24_Literacy_Rate_Female,Birth_Rate,Gross_Primary_Education_Enrollment,Gross_Tertiary_Education_Enrollment,Unemployment_Rate
174,Switzerland,46.818188,8.227512,1,0,0,0,1,1,16,...,0,0,76,83,0,0,10.00,105.2,59.6,4.58
34,Central African Republic,6.611111,20.939444,0,0,0,0,0,0,0,...,0,0,0,0,48,29,35.35,102.0,3.0,3.68
175,Syria,34.802075,38.996815,60,61,27,28,37,39,66,...,0,0,0,0,0,0,23.69,81.7,40.1,8.37
132,North Macedonia,41.608635,21.745275,51,51,1,1,0,0,0,...,0,0,45,39,0,0,0.00,0.0,0.0,0.00
48,North Korea,40.339852,127.510093,0,0,0,0,0,0,0,...,0,0,0,0,0,0,13.89,112.8,27.0,2.74

In [11]:
df.shape

(202, 29)

In [14]:
df.columns

Index(['Countries and areas', 'Latitude ', 'Longitude',
       'OOSR_Pre0Primary_Age_Male', 'OOSR_Pre0Primary_Age_Female',
       'OOSR_Primary_Age_Male', 'OOSR_Primary_Age_Female',
       'OOSR_Lower_Secondary_Age_Male', 'OOSR_Lower_Secondary_Age_Female',
       'OOSR_Upper_Secondary_Age_Male', 'OOSR_Upper_Secondary_Age_Female',
       'Completion_Rate_Primary_Male', 'Completion_Rate_Primary_Female',
       'Completion_Rate_Lower_Secondary_Male',
       'Completion_Rate_Lower_Secondary_Female',
       'Completion_Rate_Upper_Secondary_Male',
       'Completion_Rate_Upper_Secondary_Female',
       'Grade_2_3_Proficiency_Reading', 'Grade_2_3_Proficiency_Math',
       'Primary_End_Proficiency_Reading', 'Primary_End_Proficiency_Math',
       'Lower_Secondary_End_Proficiency_Reading',
       'Lower_Secondary_End_Proficiency_Math',
       'Youth_15_24_Literacy_Rate_Male', 'Youth_15_24_Literacy_Rate_Female',
       'Birth_Rate', 'Gross_Primary_Education_Enrollment',
       'Gross_Tertiary_Education_Enrollment', 'Unemployment_Rate'],
      dtype='object')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202 entries, 0 to 201
Data columns (total 29 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Countries and areas                      202 non-null    object
 1   Latitude                                 202 non-null    float64
 2   Longitude                                202 non-null    float64
 3   OOSR_Pre0Primary_Age_Male                202 non-null    int64
 4   OOSR_Pre0Primary_Age_Female              202 non-null    int64
 5   OOSR_Primary_Age_Male                    202 non-null    int64
 6   OOSR_Primary_Age_Female                  202 non-null    int64
 7   OOSR_Lower_Secondary_Age_Male            202 non-null    int64
 8   OOSR_Lower_Secondary_Age_Female          202 non-null    int64
 9   OOSR_Upper_Secondary_Age_Male            202 non-null    int64
 10  OOSR_Upper_Secondary_Age_Female          202 non-null    int64
 11  Completion_Rate_Primary_Male             202 non-null    int64
 12  Completion_Rate_Primary_Female           202 non-null    int64
 13  Completion_Rate_Lower_Secondary_Male     202 non-null    int64
 14  Completion_Rate_Lower_Secondary_Female   202 non-null    int64
 15  Completion_Rate_Upper_Secondary_Male     202 non-null    int64
 16  Completion_Rate_Upper_Secondary_Female   202 non-null    int64
 17  Grade_2_3_Proficiency_Reading            202 non-null    int64
 18  Grade_2_3_Proficiency_Math               202 non-null    int64
 19  Primary_End_Proficiency_Reading          202 non-null    int64
 20  Primary_End_Proficiency_Math             202 non-null    int64
 21  Lower_Secondary_End_Proficiency_Reading  202 non-null    int64
 22  Lower_Secondary_End_Proficiency_Math     202 non-null    int64
 23  Youth_15_24_Literacy_Rate_Male           202 non-null    int64
 24  Youth_15_24_Literacy_Rate_Female         202 non-null    int64
 25  Birth_Rate                               202 non-null    float64
 26  Gross_Primary_Education_Enrollment       202 non-null    float64
 27  Gross_Tertiary_Education_Enrollment      202 non-null    float64
 28  Unemployment_Rate                        202 non-null    float64
dtypes: float64(6), int64(22), object(1)
memory usage: 45.9+ KB

### Key features

1. Countries and Areas: Name of the countries and areas.
2. Latitude: Latitude coordinates of the geographical location.
3. Longitude: Longitude coordinates of the geographical location.
4. OOSR_Pre0Primary_Age_Male: Out-of-school rate for pre-primary age males.
5. OOSR_Pre0Primary_Age_Female: Out-of-school rate for pre-primary age females.
6. OOSR_Primary_Age_Male: Out-of-school rate for primary age males.
7. OOSR_Primary_Age_Female: Out-of-school rate for primary age females.
8. OOSR_Lower_Secondary_Age_Male: Out-of-school rate for lower secondary age males.
9. OOSR_Lower_Secondary_Age_Female: Out-of-school rate for lower secondary age females.
10. OOSR_Upper_Secondary_Age_Male: Out-of-school rate for upper secondary age males.
11. OOSR_Upper_Secondary_Age_Female: Out-of-school rate for upper secondary age females.
12. Completion_Rate_Primary_Male: Completion rate for primary education among males.
13. Completion_Rate_Primary_Female: Completion rate for primary education among females.
14. Completion_Rate_Lower_Secondary_Male: Completion rate for lower secondary education among males.
15. Completion_Rate_Lower_Secondary_Female: Completion rate for lower secondary education among females.
16. Completion_Rate_Upper_Secondary_Male: Completion rate for upper secondary education among males.
17. Completion_Rate_Upper_Secondary_Female: Completion rate for upper secondary education among females.
18. Grade_2_3_Proficiency_Reading: Proficiency in reading for grade 2-3 students.
19. Grade_2_3_Proficiency_Math: Proficiency in math for grade 2-3 students.
20. Primary_End_Proficiency_Reading: Proficiency in reading at the end of primary education.
Primary_End_Proficiency_Math: Proficiency in math at the end of primary education.
Lower_Secondary_End_Proficiency_Reading: Proficiency in reading at the end of lower secondary education.
Lower_Secondary_End_Proficiency_Math: Proficiency in math at the end of lower secondary education.
Youth_15_24_Literacy_Rate_Male: Literacy rate among male youths aged 15-24.
Youth_15_24_Literacy_Rate_Female: Literacy rate among female youths aged 15-24.
Birth_Rate: Birth rate in the respective countries/areas.
Gross_Primary_Education_Enrollment: Gross enrollment in primary education.
Gross_Tertiary_Education_Enrollment: Gross enrollment in tertiary education.
Unemployment_Rate: Unemployment rate in the respective countries/areas.

In [13]:
df.describe()

,Latitude,Longitude,OOSR_Pre0Primary_Age_Male,OOSR_Pre0Primary_Age_Female,OOSR_Primary_Age_Male,OOSR_Primary_Age_Female,OOSR_Lower_Secondary_Age_Male,OOSR_Lower_Secondary_Age_Female,OOSR_Upper_Secondary_Age_Male,OOSR_Upper_Secondary_Age_Female,...,Primary_End_Proficiency_Reading,Primary_End_Proficiency_Math,Lower_Secondary_End_Proficiency_Reading,Lower_Secondary_End_Proficiency_Math,Youth_15_24_Literacy_Rate_Male,Youth_15_24_Literacy_Rate_Female,Birth_Rate,Gross_Primary_Education_Enrollment,Gross_Tertiary_Education_Enrollment,Unemployment_Rate
count,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,...,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000
mean,25.081422,55.166928,19.658416,19.282178,5.282178,5.569307,8.707921,8.831683,20.292079,19.975248,...,10.717822,10.376238,25.787129,24.450495,35.801980,35.084158,18.914010,94.942574,34.392574,6.000000
std,16.813639,45.976287,25.007604,25.171147,9.396442,10.383092,13.258203,14.724717,21.485592,23.140376,...,24.866101,22.484423,33.181384,31.965467,45.535186,45.249643,10.828184,29.769338,29.978206,5.273136
min,0.023559,0.824782,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,11.685062,18.665678,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.250000,0.250000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10.355000,97.200000,9.000000,2.302500
50%,21.207861,43.518091,9.000000,7.000000,1.000000,1.000000,2.000000,2.000000,15.000000,12.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,17.550000,101.850000,24.850000,4.585000
75%,39.901792,77.684945,31.000000,30.000000,6.000000,6.750000,12.750000,10.750000,32.750000,30.000000,...,0.000000,0.000000,56.750000,50.750000,94.000000,96.750000,27.692500,107.300000,59.975000,8.655000
max,64.963051,178.065032,96.000000,96.000000,58.000000,67.000000,61.000000,70.000000,84.000000,89.000000,...,99.000000,89.000000,89.000000,94.000000,100.000000,100.000000,46.080000,142.500000,136.600000,28.180000